@CHARSET "UTF-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-image: url("../Images/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font: 400 0.875rem/1.5 "Open Sans", sans-serif;
  margin: 100;
  min-height: 50%;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}